<div class="container-fluid">


    <section class="hero row">
        <div class="logo">
        </div>
    </section>

</div>


<div class="container">

    <section class="row quote">
        <header>Not just different - better</header>
        <div class="body col-md-12">

            Copy about taking all bad things and making them good: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </div>
    </section>



</div>

<div class="container-fluid">
    <section class="before-after row">

        <figure class="big">
            <img src="/public/images/before-after.jpg" />
        </figure>

        <div class="remainder">

            <figure class="small after-1">
                <img src="/public/images/after-1.jpg" />
            </figure>

            <figure class="small after-2">
                <img src="/public/images/after-2.jpg" />
            </figure>

            <figure class="small after-3">
                <img src="/public/images/after-3.jpg" />
            </figure>

            <figure class="small after-4">
                <img src="/public/images/after-4.jpg" />
            </figure>

        </div>

    </section>
</div>


<div class="container">

    <section class="row quote">

        <header>No professional models allowed</header>

        <div class="body col-md-12">

            Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

        </div>

    </section>

</div>

<div class="container-fliud standard-container malls">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box">

                <header>No More Shopping Malls!</header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>

<div class="container-fliud standard-container too-many-stores">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-3 box">

                <header>Too many stores!</header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>

<div class="container-fliud standard-container too-many-products">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box">

                <header>Too many products!</header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>

<div class="container-fliud standard-container dressing-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-3 box">

                <header>Dressing room lines</header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>

<div class="container-fliud standard-container checkout-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box">

                <header>Long Checkout Line</header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container-fliud standard-container barber">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box">

                <header>Barbers too!
                </header>

                <div class="body">

                    Every photo you see on this site and in all our advertising are (and will forever be) Spruce customers. Hiring professionals to make your wardrobe look good is about as underhanded as using plastic props to make your food look good. Doh!

                </div>


            </div>


        </section>
    </div>

</div>