<div class="container-fluid">

    <section class="hero row">
        <div class="logo bounceIn">
        </div>
    </section>

</div>
<div class="bottom-body">
<iframe id="video" src="//player.vimeo.com/video/110914859?color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<div class="container-fluid">
    <section class="before-after row">

        <figure class="big wow slideInLeft">
            <img src="/public/images/before-after.jpg"/>
        </figure>

        <div class="remainder">

            <figure class="small after-1 wow bounceIn">
                <img src="/public/images/after-1.jpg"/>
            </figure>

            <figure class="small after-2 wow bounceIn">
                <img src="/public/images/after-2.jpg"/>
            </figure>

            <figure class="small after-3 wow bounceIn">
                <img src="/public/images/after-3.jpg"/>
            </figure>

            <figure class="small after-4 wow bounceIn">
                <img src="/public/images/after-4.jpg"/>
            </figure>

        </div>

    </section>
</div>

<div class="container">

    <section class="row quote">
        <header class="wow bounceIn">Not just different - better</header>
        <div class="wow slideInRight body col-md-12">

            When you look good, you feel good. So doing something small for yourself, like getting a new haircut or updating your wardrobe, can sometimes be the catalyst you need to spark changes in other aspects of your life. At Spruce, our goal is to shake up how you view yourself and your potential so you feel empowered to tackle every aspect of your life head-on. And we accomplish that by shaking up the traditional process of shopping and hair styling.

        </div>

    </section>


</div>


<div class="container-fluid standard-container malls">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box wow slideInRight">

                <header>No More Shopping Malls!</header>

                <div class="body">

                    Sitting in bumper-to-bumper traffic in the parking garage. Trudging through large crowds of slow
                    walkers. Decoding the store directory. Searching for a sales associate to help you find your size.
                    Spruce is an easily accessible, one-stop shop for everything you need. Our goal is to get you in and
                    out in less than an hour, without any time wasted parking, walking, or waiting.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class="wow slideInLeft">“The residual impact of looking great and having a little more confidence is
                already reaching much
                deeper into every part of my life and making me a happier person for it!… Spruce member for life.”
            </em>

            <div class="name wow slideInRight">
                Jonathan Naylor
                <div class="title">Spruce Client</div>
            </div>
        </div>
    </section>


</div>

<div class="container-fluid standard-container too-many-stores">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInLeft">

                <header>Too many stores!</header>

                <div class="body">

                    One of the worst parts about conventional shopping is having to visit multiple stores. One for
                    shoes, ones for jeans, one for shaving products—- you get the idea. Even department stores are so
                    large that they feel like a mall within a mall. At Spruce, we carry all of the products you need in
                    one, easy-to-navigate location so you can give your legs a break.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class="wow slideInLeft">“Fashion doesn’t need to be expensive or intimidating. And it definitely doesn’t have to complicated. Our goal is to make looking good accessible to everyone through the help of friendly style professionals and by educating clients on the fundamentals. And if we can make the process fun as well, then we really know we’ve done our job.”</em>

            <div class="name wow slideInRight">
                Becca Miller
                <div class="title">Spruce Founder</div>
            </div>
        </div>
    </section>


</div>

<div class="container-fluid standard-container too-many-products">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>Too many products!</header>

                <div class="body">

                    When it comes to finding clothes you like, less is more. You want to see just the minimum needed to
                    punch up your wardrobe, not endless aisles of clothes that may or may not be what you want. Well,
                    look no further; not only does Spruce carry a curated selection of the most flattering and relevant
                    products, but our style consultants will personally assist you in picking out what will look best
                    for your body type and style goals.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class=" wow slideInLeft">“The transformation for me was not long and painful.
                It happened way before Becca had the idea of Spruce. I don't care
                for malls, 5 hours of shopping sucks, and sometimes it can take me a week just to schedule a hair
                appointment.
                No wonder I was wearing clothes that didn't fit. I'd rather do that than have to spend the day visiting
                a hundred stores.
                This can be fixed.”
            </em>

            <div class="name wow slideInRight">
                Taylor Romero
                <div class="title">Becca's Husband</div>
            </div>
        </div>
    </section>


</div>


<div class="container-fluid standard-container dressing-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box wow slideInLeft">

                <header>Dressing room lines</header>

                <div class="body">

                    When you make a Spruce appointment via call, app, or website, we’ll be expecting you. That means priority access to fitting rooms and a more efficient experience.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            Schedule your appointment quickly and easily through the Spruce mobile app. With the personal calendar integration, we’ll find you an appointment time that works for us both within seconds!

        </div>
    </section>

</div>


<div class="container-fluid standard-container do-i-look-good">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>How do i look?</header>

                <div class="body">

                    Sometimes you just want someone to tell you. With Spruce’s Selfie Review app, you can learn how to identify proper fitting clothes as well as have a way to contact your consultant at any time, any place. Just take a photo of yourself or your outfit, send it to a Spruce style consultant, and receive feedback within minutes.


                </div>


            </div>


        </section>
    </div>

</div>



<div class="container">

    <div class="row afters">

        <div class="col-md-4 wow slideInLeft">
            <img src="/public/images/after-big-3.jpg" />
        </div>

        <div class="col-md-4 wow bounceIn">
            <img src="/public/images/after-big-6.jpg" />
        </div>

         <div class="col-md-4 wow slideInRight">
            <img src="/public/images/after-big-1.jpg" />
        </div>



    </div>

</div>

<div class="container-fluid standard-container checkout-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInLeft">

                <header>DON’T WAIT IN LINE AT THE REGISTER</header>

                <div class="body">

                    Now that you’ve got a rad new collection of clothes and skin products to take home, you’ve gotta stand and wait at the register to purchase, right? Wrong. When you can checkout directly from your mobile phone, that’s a game changer.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <div class="row afters">


        <div class="col-md-4 wow slideInLeft">
            <img src="/public/images/after-big-5.jpg" />
        </div>

        <div class="col-md-4 wow bounceIn">
            <img src="/public/images/after-big-4.jpg" />
        </div>


        <div class="col-md-4 wow slideInRight">
            <img src="/public/images/after-big-2.jpg" />
        </div>



    </div>

</div>

<div class="container-fluid standard-container barber">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>Off to the barber</header>

                <div class="body">

                    You change your clothes every day, but what about your hair? Chances are you’ve settled into a style and don’t realize that you have options (yes, even if you’re hairline is receding!) We’ll help you find a stylish cut that works with what you've got. That goes for beards and mustaches too.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote placeholder-quote">
        <header class="wow bounceIn">Meet the Team</header>

    </section>

</div>


<div class="container-fluid standard-container beccaandtay">


        <section class="row">

            <div class="col-md-3 bio wow slideInLeft">

                <header>Becca Miller</header>

                <div class="body">

                    They say that behind every great man is a great woman. I aim to fill that role for every Spruce client because I love helping people realize their potential. Fashion can appear to be a shallow endeavor, but when you realize what it does for your self esteem, and in turn what that newfound confidence can do in other aspects of your life, then suddenly taking care of yourself no longer takes a backseat in your life.

                </div>


            </div>

             <div class="col-md-offset-6 col-md-3 bio wow slideInRight">

                <header>Taylor Romero</header>

                <div class="body">

                    I'm really excited Becca is letting me play a part in helping her vision of Spruce become a reality. I aim to make sure that the Spruce experience is enjoyable even before you step through the door. I plan to use my background in technology to empower our clients. Our mobile app will feature things like "one touch appointment scheduling" and "in store checkout" to name only a few. It can't get any easier!

                </div>


            </div>


        </section>

</div>

<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            Here's the deal: the Spruce storefront is not open yet. But while we're getting our ducks in a row, we are offering our style consulting services to clients who live in the Denver Metro area. This entails a custom proposal based upon your specific style goals and budget, an escorted shopping trip to select and purchase clothing, as well as a visit to one of our partner hair stylists to perform some hair magic on you.
<br /><br />
And if you think you'd like to join us at Spruce as a hair stylist or fashion consultant, please send us a message telling us why you'd thrive on our team. 
<br /><br />
Lastly, if you’re interested in becoming an investment partner, just fill out our contact form and we will get back to you instantly to tell you how much we love you (kidding not kidding).

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <header class="col-md-4 wow bounceIn"><a href="https://www.surveymonkey.com/s/R3HNSBX">Get Spruced</a></header>
        <header class="col-md-4 wow bounceIn"><a href="https://spruceme.wufoo.com/forms/join-the-spruce-team/">Join the Team</a></header>
        <header class="col-md-4 wow bounceIn"><a href="https://spruceme.wufoo.com/forms/invest-in-spruce/">Investors</a></header>

    </section>

</div>


</div>