<div class="container-fluid">

    <section class="hero row">
        <div class="logo bounceIn">
        </div>
    </section>

</div>
<div class="bottom-body">

<div class="container">

    <section class="row quote">
        <header class="wow bounceIn">Not just different - better</header>
        <div class="wow slideInRight body col-md-12">

            Copy about taking all bad things and making them good: Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </div>
    </section>


</div>

<div class="container-fluid">
    <section class="before-after row">

        <figure class="big wow slideInLeft">
            <img src="/public/images/before-after.jpg"/>
        </figure>

        <div class="remainder">

            <figure class="small after-1 wow bounceIn">
                <img src="/public/images/after-1.jpg"/>
            </figure>

            <figure class="small after-2 wow bounceIn">
                <img src="/public/images/after-2.jpg"/>
            </figure>

            <figure class="small after-3 wow bounceIn">
                <img src="/public/images/after-3.jpg"/>
            </figure>

            <figure class="small after-4 wow bounceIn">
                <img src="/public/images/after-4.jpg"/>
            </figure>

        </div>

    </section>
</div>


<div class="container">

    <section class="row quote">

        <header class="wow slideInLeft">No professional models allowed</header>

        <div class="body col-md-12 wow slideInRight">

            Every photo you see on this site and in all our advertising are (and will forever be) Spruce clients. Hiring
            professionals to make your wardrobe look good is about as underhanded as using plastic props to make your
            food look good.

        </div>

    </section>

</div>

<div class="container-fliud standard-container malls">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box wow slideInRight">

                <header>No More Shopping Malls!</header>

                <div class="body">

                    Sitting in bumper-to-bumper traffic in the parking garage. Trudging through large crowds of slow
                    walkers. Decoding the store directory. Searching for a sales associate to help you find your size.
                    Spruce is an easily accessible, one-stop shop for everything you need. Our goal is to get you in and
                    out in less than an hour, without any time wasted parking, walking, or waiting.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class="wow slideInLeft">“The residual impact of looking great and having a little more confidence is
                already reaching much
                deeper into every part of my life and making me a happier person for it! ~ Spruce member for life”
            </em>

            <div class="name wow slideInRight">
                Jonathan Naylor
                <div class="title">First Spruce Client &amp; Dude in All the Photos on this Site.</div>
            </div>
        </div>
    </section>


</div>

<div class="container-fliud standard-container too-many-stores">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInLeft">

                <header>Too many stores!</header>

                <div class="body">

                    One of the worst parts about conventional shopping is having to visit multiple stores. One for
                    shoes, ones for jeans, one for shaving products—- you get the idea. Even department stores are so
                    large that they feel like a mall within a mall. At Spruce, we carry all of the products you need in
                    one, easy-to-navigate location so you can give your legs a break.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class="wow slideInLeft">“There are a million and one reasons for people to not know the 'rules of
                fashion.'
                Every single one of them valid. We're not inventing anything new, we're just doing it in a way that's
                never been done before.”</em>

            <div class="name wow slideInRight">
                Becca Miller
                <div class="title">Spruce Founder</div>
            </div>
        </div>
    </section>


</div>

<div class="container-fliud standard-container too-many-products">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>Too many products!</header>

                <div class="body">

                    When it comes to finding clothes you like, less is more. You want to see just the minimum needed to
                    punch up your wardrobe, not endless aisles of clothes that may or may not be what you want. Well,
                    look no further; not only does Spruce carry a curated selection of the most flattering and relevant
                    products, but our style consultants will personally assist you in picking out what will look best
                    for your body type and style goals.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote">
        <div class="body col-md-12">

            <em class=" wow slideInLeft">“The transformation for me was not long and painful.
                It happened way before Becca had the idea of Spruce. I don't care
                for malls, 5 hours of shopping sucks and sometimes it can take me a week just to schedule a hair
                appointment.
                No wonder I was wearing clothes that didn't fit. I'd rather do that then have to spend the day visiting
                a hundred stores.
                This can be fixed.”
            </em>

            <div class="name wow slideInRight">
                Taylor Romero
                <div class="title">Becca's Husband</div>
            </div>
        </div>
    </section>


</div>


<div class="container-fliud standard-container dressing-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box wow slideInLeft">

                <header>Dressing room lines</header>

                <div class="body">

                    Because we will focus on appointment based visits (Walkens will be welcome), you'll never have to
                    wait in a huge
                    line to get into the dressing room.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            We're going to allow quick and easy scheduling through our mobile app. With the ability to check your calendar for you, we'll be able to find you an appointement that works for us both within seconds!

        </div>
    </section>

</div>


<div class="container-fliud standard-container do-i-look-good">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>How do i look?</header>

                <div class="body">

                    Sometimes you just want someone to tell you. We plan to empower you by both teaching you the tricks to proper fitting clothes and giving you a way to
                    contact your consultant at any time. We're calling it the Selfie Review app. You'll be able to take a photo of yourself and have
                    a Spruce consultant review it.

                </div>


            </div>


        </section>
    </div>

</div>



<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            We're planning on releasing the selfie review app first. This is going to be a lot of fun.

        </div>
    </section>

</div>

<div class="container-fliud standard-container checkout-line">

    <div class="container">

        <section class="row">

            <div class="col-md-6 box wow slideInLeft">

                <header>DON’T WAIT IN LINE AT THE REGISTER</header>

                <div class="body">

                    Now that you’ve got a rad new collection of clothes and skin products to take home, you’ve gotta
                    stand and wait at the register to purchase, right? Wrong. Allowing customers to checkout directly
                    from their mobile phone is going to be a game changer.

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            Think of it like a mix between Buffalo Exchange, the Apple Store and ...

        </div>
    </section>

</div>

<div class="container-fliud standard-container barber">

    <div class="container">

        <section class="row">

            <div class="col-md-6 col-md-offset-6 box wow slideInRight">

                <header>Off to the barber</header>

                <div class="body">

                    Even when you try to get out, they pull you back in. Getting clothes that fit and look sharp is one thing,
                    having to get your beard groomed or your hair trimmed is quite another. We'll make sure we find a cut
                    that works with what you've got. You're going to be surprised (in a good way =).

                </div>


            </div>


        </section>
    </div>

</div>


<div class="container">

    <section class="row quote placeholder-quote">
        <div class="body col-md-12 wow slideInLeft">

            Here's the deal; We're not open yet. But while we're getting our ducks in a row, Becca is taking on clients who live
            in the Denver, Metro area. Oh yeah, if you think you'd like to join us at Spruce, send us a message and tell us
            why you'd thrive on our team. Lastly, if you want to loan us some money to get our store front open, we're cool with
            that too =)

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <header class="col-md-4"><a href="#">Get Spruced</a></header>
        <header class="col-md-4"><a href="#">Join the Team</a></header>
        <header class="col-md-4"><a href="#">Investors</a></header>

    </section>

</div>

</div>