@font-face {
  font-family: 'spruce';
  src: local('spruce'), url('../fonts/hellogoodbye.ttf') format('truetype');
}
@font-face {
  font-family: 'body';
  src: local('spruce'), url('../fonts/SplendidB.ttf') format('truetype');
}
a,
a:hover {
  color: #fff;
  cursor: pointer;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  color: #fff;
  background-size: contain;
  font-family: "body", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 100;
  font-style: normal;
  line-height: 1.5;
  background: #000000 url("../images/header-banner.jpg") no-repeat fixed center top;
}
.bottom-body {
  background: url("../images/background.jpg");
}
.video {
  text-align: center;
  padding-top: 100px;
}
.main-header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.main-header nav {
  text-align: center;
  font-family: 'spruce';
  font-size: 210%;
}
.main-header nav a {
  display: block;
  line-height: 75px;
  color: #fff;
}
.main-header nav a.join {
  text-align: left;
}
.main-header nav a.investors {
  text-align: right;
}
.main-header .logo {
  width: 124px;
  height: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -62px;
  margin-top: -38px;
  background: url("../images/logo-header.png") no-repeat center center;
  text-indent: -200em;
  overflow: hidden;
}
.hiding-header {
  opacity: 0;
  margin-top: -70px;
}
.hiding-logo {
  opacity: 0;
}
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hero {
  height: 600px;
  position: relative;
}
.hero .logo {
  width: 372px;
  height: 370px;
  background: url("../images/logo-simple.png");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -185px;
  z-index: 3;
  margin-top: -185px;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.quote {
  padding: 200px 0;
  color: #fff;
}
.quote .name {
  padding-top: 20px;
  text-align: right;
  font-size: 90%;
}
.quote .name .title {
  font-style: italic;
}
.placeholder-quote {
  text-align: center;
}
section header {
  text-align: center;
}
section .box {
  background: rgba(0, 0, 0, 0.7);
  padding: 100px 25px;
}
section .body {
  font-size: 150%;
}
section .body em {
  display: block;
}
section header {
  font-family: 'spruce';
  font-size: 500%;
  line-height: 1.2em;
}
.standard-container header {
  text-align: left;
}
.before-after img {
  width: 100%;
}
.before-after .big {
  float: left;
  width: 60%;
}
.before-after .remainder {
  width: 40%;
  float: right;
  background-color: #000;
}
.before-after .small {
  width: 50%;
  float: left;
}
.malls {
  background: url('../images/mall.jpg') right center;
}
.too-many-stores {
  background: url('../images/too-many-stores.jpg') right center;
}
.too-many-products {
  background: url('../images/too-many-products.jpg') center right;
}
.dressing-line {
  background: url('../images/dressing-line.jpg') left center;
}
.checkout-line {
  background: url('../images/checkout-line.jpg') center center;
}
.barber {
  background: url('../images/barber.jpg') right center;
}
.do-i-look-good {
  background: url('../images/do-i-look-good.jpg') right top;
}
.afters img {
  padding: 100px 0;
  width: 100%;
}
.beccaandtay {
  background: url('../images/beccaandtay.jpg') center top;
  background-size: cover;
}
.beccaandtay .bio {
  background-color: rgba(0, 0, 0, 0.7);
}
.beccaandtay .bio * {
  padding-left: 10px;
  padding-right: 10px;
}
.beccaandtay .bio header {
  padding-top: 100px;
}
.beccaandtay .bio .body {
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  body .main-header nav.container .logo {
    display: none;
  }
  body .main-header nav.container a {
    line-height: 2em;
    text-align: center;
  }
  .afters img {
    padding: 10px 0;
  }
  .before-after .small {
    width: 100%;
  }
  .before-after .after-2,
  .before-after .after-3,
  .before-after .after-4 {
    display: none;
  }
}
@media (max-width: 768px) {
  .beccaandtay .bio .body {
    padding-bottom: 50px;
  }
  .before-after .big {
    width: 100%;
  }
  .before-after .remainder {
    display: none;
  }
}
